/*COLORS*/
.color-red{color: #FF0000;}
.color-green{color: #6cbc42;}
.color-blue{color: #0080c5;}
.color-twitter{color:#55acee;}
.color-facebook{color:#3b5998;}
.color-linkedin{color:#007bb5;}
.color-google{color:#dd4b39;}
.color-youtube{color:#ff0000;}
.color-instagram{color:#e95950;}
.color-gray{color: #636363;}
.color-white{
    color: #ffffff;
}

/* Buttons*/
.btn-fblogin{
    background-color: #3b5998;
}
.btn-googlelogin{
    background-color: #dd4b39;
}
.btn-twitterlogin{
    background-color: #55acee;
}

.btn-block{
    border-radius: 2px;
}
/*===================================================================================
=============================== MAIN CSS STYLES =====================================
====================================================================================*/

/*========== Page Content ============*/
#wrapper{

}
#wrapper.menuDisplayed #page-content-wrapper{
    width: 100%;
    position: absolute;
    overflow-x: hidden;
}
#page-content-wrapper{
    width: 100%;
    position:absolute;
    padding-left: 0;
    overflow-x: hidden;
}

/* ========= Title Line ======== */
.title-lines h1 {
    display: inline-block;
    padding: 0 15px;
    position: relative;
}
.title-lines h1:before,
.title-lines h1:after {
    background: #e4e4e4;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 1000%;
}
.title-lines h1:before {
    right: 100%;
}
.title-lines h1:after {
    left: 100%;
}
.title-lines {
    overflow: hidden;
    text-align: center;
}

/* =============== First Row styling ===============*/

.row-intro{
    background-color: #313131;
}

.jumbotron{
    margin-top: 10px;
    background-color: #313131;
    color: #ffffff;
}

/* ========== Carousel container styling ===========*/
.container-fluid.container-fullwidth{
    margin-left: -30px;
    margin-right: -30px;
}

.carousel{
    z-index: 0;
}

/* ========== Image containers styling ===========*/
.img-thumbnail{
    border-color: #00CC99;
}
