/*===================================================================================
=============================== NAVBAR CSS STYLES ===================================
====================================================================================*/
.nav{
     margin-left: 31px;
 }


.navbar-right{
    margin-left:0px;
    margin-right: -20px;
    padding:0;
}

li.dropdown:hover > .dropdown-menu{
    display: block;
    position: absolute;
    top: 50px;
}
.navbar-default .navbar-nav > li > .dropdown-menu:after {
    position: absolute;
    left: 50%;
    top: -20px;
    width: 0;
    height: 0;
    content: '';
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #161616;
    margin-left: -60px;
}
.navbar-default .navbar-nav > li > .login-panel:after {
    position: absolute;
    left: 50%;
    top: -20px;
    width: 0;
    height: 0;
    content: '';
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #161616;
    margin-left: 60px;
}

.navbar-search {
    padding-top: 2px;
    margin-right: -40px;
}

/*===================================================================================
=============================== SIDEBAR CSS STYLES ==================================
====================================================================================*/

#wrapper.menuDisplayed #sidebar-wrapper{
    width: 100%;
    position: fixed;

}

#wrapper{
    margin-top: 50px;
}

#wrapper.menuDisplayed #page-content-wrapper{
    padding-left: 0px;
}