/*===================================================================================
=============================== NAVBAR CSS STYLES ===================================
====================================================================================*/
.nav{
     margin-left: 31px;
 }


.navbar-right{
    margin-left:0px;
    margin-right: -20px;
    padding:0;
}

.navbar-left li.dropdown:hover > .dropdown-menu{
    display: block;
    top: 50px;
}
.navbar-default .navbar-right .dropdown-menu{
    top: 50px;
}
.navbar-default .navbar-nav > li > .dropdown-menu:after {
    position: absolute;
    left: 50%;
    top: -10px;
    width: 0;
    height: 0;
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #161616;
    margin-left: -60px;
}
.navbar-default .navbar-nav > li > .login-panel:after {
    position: absolute;
    left: 55%;
    top: -10px;
    width: 0;
    height: 0;
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #161616;
    margin-left: 60px;
}
/** =========== Button Search ============== **/
.btn-search{
    margin-top: 10px;
    margin-right: 10px;
}

.navbar-default .navbar-nav > li > .dropdown-search:after {
    position: absolute;
    left: 55%;
    top: -10px;
    width: 0;
    height: 0;
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #161616;
    margin-left: 35px;
}

/** =========== Button Grid ============== **/
.btn-grid{
    margin-top: 10px;
    margin-right: 10px;
}
.dropdown-grid > li > a {
    -webkit-align-items: center;
    border-radius: 2px;
}
.dropdown-grid .col-xs-4{
    margin-bottom: 20px;
}
.navbar-default .navbar-right .dropdown-grid .col-xs-4 {
    margin-right: -10px;
}
.navbar-default .navbar-right .dropdown-grid .col-xs-4 > a{
    margin-right: -20px;
}
.navbar-default .navbar-right > li > .dropdown-grid{
    left: -185px;
    margin-top: 100px;
}
.navbar-default .navbar-nav > li > .dropdown-grid:after{
    position: absolute;
    left: 55%;
    top: -10px;
    width: 0;
    height: 0;
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #161616;
    margin-left: 65px;
}

.signin-btn{
    margin-right: 15px;
    margin-top: 10px;
    border-radius: 2px;
}
/*===================================================================================
=============================== SIDEBAR CSS STYLES ==================================
====================================================================================*/

#wrapper.menuDisplayed #sidebar-wrapper{
    width: 100%;
    position: fixed;

}

#wrapper{
    margin-top: 50px;
}

#wrapper.menuDisplayed #page-content-wrapper{
    padding-left: 0px;
}

.or{
    margn-top: 10px;
    margin-left: 350px;
}