/*===================================================================================
=============================== NAVBAR CSS STYLES ===================================
====================================================================================*/
.navbar-default{
    border:none;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffbbbc;
    background-color: #00CC99;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
    background-color: #16A085;

}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
}

.navbar-toggle.navbar-left {
    margin-left: 15px;
}

/* override navbar collapse scrollbar settings */
.collapse.navbar-collapse{
    overflow: hidden;
    max-height: none !important;
    height: auto !important;
}



.nav .nav-divider {
    height: 1px;
    margin: 0 10px;
    background-color: #2f2f2f;
}

.navbar-search {
    padding:2px 0px 0px 0px;
    margin-right: -30px;

}

/*===================================================================================
=============================== SIDEBAR CSS STYLES ==================================
====================================================================================*/

#wrapper.menuDisplayed #sidebar-wrapper{
    width: 100%;
    position: fixed;

}

/*===================================================================================
=============================== WRAPPER CSS STYLES ===================================
====================================================================================*/

#wrapper{
    margin-top: 50px;
}

#wrapper.menuDisplayed #page-content-wrapper{
    padding-left: 0px;
}