/*===================================================================================
=============================== NAVBAR CSS STYLES ===================================
====================================================================================*/

/*========= STYLES ========*/
.navbar-default {
    background-color: #000000;
    border: none;
    font-size: 12px;
    opacity: 1;
}
.navbar-default .navbar-brand {
    color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffbbbc;
}
.navbar-default .navbar-text {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffbbbc;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #161616;
    font-size: 12px;
    margin-left: -1px;
    margin-top: -1px;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
    background-color: #c0392b;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffbbbc;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffbbbc;
    background-color: transparent;
}
.navbar-default .navbar-toggle {
    border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}
.navbar-default .navbar-link {
    color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
    color: #ffbbbc;
}

/* make the sidebar toggle button always visible and to the left */
.navbar-toggle.navbar-left {
     float: left;
     display: block;
 }

/* ================ Search Icon ============== */
.navbar-search {
    position: absolute;
    top: 0;
    right: 135px;
    border:none;
    box-shadow: none;
}
input {
    outline: none;
}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}
input[type=search] {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 15px 9px 32px;
    width: 55px;
    border-radius: 0.8em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
input[type=search]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #66CC75;

    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}
input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}
#search-on input[type=search] {
    width: 10px;
    height: 10px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}
#search-on input[type=search]:hover {
    background-color: #fff;
}
#search-on input[type=search]:focus {
    width: 130px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}
#search-on input:-moz-placeholder {
    color: transparent;
}
#search-on input::-webkit-input-placeholder {
    color: transparent;
}

/** =========== Button Grid ============== **/
.btn-grid{
    background-color: transparent;
    border: solid 1px;
}
/** ===========Search Bar ============== **/
.navbar-search{
    margin-right: -60px;
    margon-left: -150px;
}
/** ============ Login Panel ============= **/
.signin-btn {
    color: white;
    background-color: transparent;
    border: solid 1px;
    cursor: default;
}
.signin-btn:focus,
.signin-btn:active:focus,
.signin-btn.active:focus,
.signin-btn.focus,
.signin-btn:active.focus,
.signin-btn.active.focus {
    color: white;
    background-color: transparent;
    outline: none;
    border: solid 1px;
}
.signin-btn:hover,
.signin-btn:focus,
.signin-btn.focus {
    color: white;
    background-color: transparent;
    outline: none;
    border: solid 1px;
}
.signin-btn:active,
.signin-btn.active {
    color: white;
    background-color: transparent;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: transparent;
    border-color: white;
}
.login-panel {
    min-width: 250px;
    border-bottom-right-radius:0.5em;
    -moz-border-radius-bottomright:0.5em;
    border-bottom-left-radius:0.5em;
    -moz-border-radius-bottomleft:0.5em;
}
.dropdown-header { display: block; padding-bottom: 30px; height: 10px; }
.login-header { font-size: 20px; font-weight: bold; display: inline; float: left; }
.signup-header{font-size: 12px; font-weight: bold; display: inline-block; float: right; padding-top: 5px;}
.forgot-password { font-size: 10px; display: inline; float: left; vertical-align: bottom; padding-top: 10px; padding-left: 30px; }
.center-text { text-align: center; }
.error-message { font-size: 11px; }
