/*===================================================================================
=============================== NAVBAR CSS STYLES ===================================
====================================================================================*/
/* Change navbar size to 70px and give contents full height*/
.navbar-header{
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav{
    height:70px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    margin-left: 81px;
}
.nav li a {
    padding-top: 25px;
    padding-bottom: 25px;
    letter-spacing: 0px;

}
li.dropdown:hover > .dropdown-menu{
    display: block;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
    font-size: 12px;
    width: 250px;
    position: absolute;
    top: 70px;
}
.navbar-default .navbar-nav > li > .dropdown-menu:after {
    position: absolute;
    left: 50%;
    top: -20px;
    width: 0;
    height: 0;
    content: '';
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #161616;
    margin-left: -100px;
}

.navbar-default .navbar-nav > li > .login-panel:after {
    position: absolute;
    left: 50%;
    top: -20px;
    width: 0;
    height: 0;
    content: '';
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #161616;
    margin-left: 60px;
}

.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}
.dropdown li a{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    letter-spacing: 3px;
    margin-left: 0px;
}
.navbar-right{
    margin-left:0px;
    margin-right: -20px;
    padding:0;
}
.signin-btn{
    margin-right: 15px;
    margin-top: 20px;
}
.user-login{
    margin-right: -15px;
}
.navbar-search {
    padding-top: 10px;
}
/*===================================================================================
=============================== SIDEBAR CSS STYLES ==================================
====================================================================================*/
#wrapper.menuDisplayed #sidebar-wrapper{
    width: 250px;
}

/*===================================================================================
=============================== WRAPPER CSS STYLES ==================================
====================================================================================*/
#wrapper{
    margin-top:70px;
}

#wrapper.menuDisplayed #page-content-wrapper{
    padding-left: 0px;

}